<div class="form-container">
  <p class="auth-link">
    <span *ngIf="isLogin"
      >No account yet? <a routerLink="/register">Register</a></span
    >
    <span *ngIf="!isLogin"
      >Already have an account? <a routerLink="/login">Login</a></span
    >
  </p>

  <h2 class="form-title">{{ isLogin ? "Welcome back" : "Create account" }}</h2>

  <form>
    <app-input-field
      *ngIf="!isLogin"
      name="username"
      [(bindModelData)]="form.username"
      label="Username"
    ></app-input-field>

    <app-input-field
      type="email"
      name="email"
      [(bindModelData)]="form.email"
      label="Email address"
    ></app-input-field>

    <div class="inline-fields">
      <div>
        <app-input-field
          class="first-child"
          type="password"
          name="password"
          [(bindModelData)]="form.password"
          label="Password"
        ></app-input-field>
      </div>

      <div>
        <app-input-field
          *ngIf="!isLogin"
          type="password"
          name="confirmPassword"
          [(bindModelData)]="form.confirmPassword"
          label="Confirm"
        ></app-input-field>
      </div>
    </div>

    <div class="flex-container">
      <app-button type="submit" *ngIf="isLogin" (buttonClicked)="login()"
        >Login</app-button
      >
      <app-button type="submit" *ngIf="!isLogin" (buttonClicked)="register()"
        >Register</app-button
      >
    </div>
  </form>
</div>
