<div class="form-container">
  <p class="auth-link">
    <span *ngIf="isLogin"
      >No account yet? <a routerLink="/register">Register</a></span
    >
    <span *ngIf="!isLogin"
      >Already have an account? <a routerLink="/login">Login</a></span
    >
  </p>

  <h2 class="form-title">{{ isLogin ? "Welcome back" : "Create account" }}</h2>

  <form [formGroup]="authForm">
    <app-input-field
      *ngIf="!isLogin"
      name="username"
      [formGroup]="authForm"
      label="Username"
      [errors]="authForm.controls.username?.errors || customErrors?.username"
    ></app-input-field>

    <app-input-field
      type="email"
      name="email"
      [formGroup]="authForm"
      label="Email address"
      [errors]="authForm.controls.email?.errors || customErrors?.email"
    ></app-input-field>

    <div class="inline-fields">
      <div class="first-child">
        <app-input-field
          type="password"
          name="password"
          [formGroup]="authForm"
          label="Password"
          [errors]="
            authForm.controls.password?.errors || customErrors?.password
          "
        ></app-input-field>
      </div>

      <div *ngIf="!isLogin">
        <app-input-field
          type="password"
          name="confirmPassword"
          [formGroup]="authForm"
          label="Confirm"
          [errors]="
            authForm.controls.confirmPassword?.errors || authForm.errors
          "
        ></app-input-field>
      </div>
    </div>

    <div class="flex-container">
      <app-button
        [disabled]="authForm.invalid"
        type="submit"
        *ngIf="isLogin"
        (buttonClicked)="login()"
      >
        <app-spinner *ngIf="isLoading"></app-spinner>
        <span *ngIf="!isLoading">Login</span>
      </app-button>
      <app-button
        [disabled]="authForm.invalid"
        type="submit"
        *ngIf="!isLogin"
        (buttonClicked)="register()"
      >
        <app-spinner *ngIf="isLoading"></app-spinner>
        <span *ngIf="!isLoading">Register</span>
      </app-button>
    </div>
  </form>
</div>
