<div class="chat-container">
  <div class="users-container" *ngIf="!isSmallScreen">
    <ng-container *ngTemplateOutlet="usersList"></ng-container>
  </div>

  <div *ngIf="isSmallScreen">
    <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu class="user-menu" #menu="matMenu">
      <ng-container *ngTemplateOutlet="usersList"></ng-container>
    </mat-menu>
  </div>

  <div *ngIf="chatroomId; else startChat" class="chat-room-container">
    <div class="selected-user-container">
      <div class="user-avatar">
        <img src="../../../../assets/avatar.png" alt="Avatar" />
      </div>

      <span>{{ otherUser?.displayName }}</span>
    </div>

    <div class="messages-container" #messagesContainer>
      <div
        *ngFor="let message of messages"
        [class]="{ 'my-message': message.sender === currentUser.displayName }"
      >
        <app-chat-message
          [message]="message"
          [currentUser]="currentUser"
        ></app-chat-message>
      </div>
    </div>

    <form class="chat-input-container">
      <textarea
        (keydown)="checkKeyBeforeSend($event)"
        matInput
        rows="2"
        placeholder="Write your message..."
        [(ngModel)]="currentMessage"
        name="message"
      ></textarea>

      <div class="send-container" title="Send">
        <button mat-icon-button (click)="sendMessage()">
          <mat-icon class="material-icons-outlined">send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #startChat>
  <div class="no-chat">
    <h3>Select a user to chat with</h3>
  </div>
</ng-template>

<ng-template #usersList>
  <div *ngFor="let user of users | async">
    <app-chat-user
      *ngIf="user.email !== currentUser.email"
      (click)="openChatRoom(user)"
      [user]="user"
    ></app-chat-user>
  </div>
</ng-template>
