.chat-container {
  display: flex;
  height: 500px;
  align-items: stretch;
  width: 70%;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px #ddd;
  background: white;

  @media screen and (max-width: 680px) {
    width: 90%;
  }

  .users-container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #ddd;
    overflow-y: auto;
    width: 40%;
    border-radius: 10px 0 0 10px;
  }

  .chat-room-container {
    flex: 1;
    // width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;

    @media screen and (max-width: 680px) {
      box-shadow: 0px 1px 3px #ddd;
    }

    .selected-user-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.3rem 1rem;
      box-shadow: 1px 1px 3px #ddd;
      border-top-right-radius: 10px;
    }

    .messages-container {
      flex: 1;
      // min-height: 440px;
      display: flex;
      gap: 0.5rem;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
      // height: 195px;
      overflow-y: auto;

      .my-message {
        align-self: flex-end;
      }
    }

    .chat-input-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.3rem 0.5rem;
      box-shadow: 2px -2px 3px #ddd, 0px 0px 3px #ddd;
      border-bottom-right-radius: 10px;

      .send-container {
        color: cadetblue;
        cursor: pointer;
      }

      textarea {
        outline: none;
        flex: 1;
        padding: 0rem 0.7rem;
        border: none;
        resize: none;
        font-family: "Poppins";
      }
    }
  }

  .no-chat {
    flex: 1;
    // width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.user-menu {
  max-height: 300px !important;

  .mat-menu-content {
    padding: 0 !important;
  }
}
