@import "../../../styles.scss";

.main-layout-container {
  // background: url("../../../../assets/main_bg_4.jpg");
  @include mainGradient;
  background-size: cover;
  min-height: 100vh;

  .toolbar {
    background-color: white;
    box-shadow: 1px 1px 3px #ddd;
    overflow-y: hidden;
    align-items: center;
    height: auto;
    // margin-bottom: 1rem;

    .user-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.3rem;

      span {
        font-size: 0.7em;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .cart-icon {
      color: $main-color;
      cursor: pointer;
      position: relative;

      .counter {
        position: absolute;
        font-size: 0.6em;
        color: white;
        background: $error-red;
        top: -9px;
        right: -5px;
        line-height: 1;
        padding: 0.2rem 0.3rem;
        border-radius: 50%;
      }
    }

    .logo-container {
      width: 55px;
      height: 55px;
      cursor: pointer;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logout-button {
    color: $error-red;
  }
}

.cart-items-menu {
  min-width: 300px !important;
  max-height: 370px !important;
  overflow: auto;
  padding: 1rem;

  .no-items {
    display: flex;
    flex-direction: column;

    .icon-container {
      color: $main-color;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-icon {
        transform: scale(6.5) translate(0px, 0px);
      }
    }
  }

  .image-container {
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .total-price {
    font-weight: 500;

    .price {
      color: $main-color;
    }
  }

  .name {
    color: $main-color;
    font-size: 0.8rem;
  }

  .counter-container {
    .btn {
      background: $main-color;
      color: white;
      padding: 0.1rem 0.2rem;
      border: transparent;
      line-height: 1;
    }
  }

  .remove-icon {
    color: $helper_text_color;
    cursor: pointer;

    &:hover {
      color: $error-red;
    }
  }
}
