@import "../../../styles.scss";

.restaurant-card {
  max-width: 500px;
  margin: 1rem auto;

  .detail-record {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-icon {
      color: $main_color;
    }

    .link {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 500;

      &:hover {
        font-weight: 700;
      }
    }
  }

  .image-container {
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}
