mat-label {
  font-weight: 600;
}

mat-icon {
  cursor: pointer;
}

.mat-hint {
  color: red;
}

.input-container {
  display: flex;
  margin-bottom: 0.4rem;
  flex-direction: column;

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 1.1em 0 0.9em;
      border-top: none;
    }

    .mat-form-field-outline {
      background-color: #f1f1f1;
    }
  }
}
