/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

$helper_text_color: #b7b7b7;
// $links_color: rgb(48, 121, 190);
$main_color: cadetblue;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  width: 100%;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  img {
    border-radius: inherit;
    max-width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdc4c4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
