<mat-tab-group *ngIf="menuSections" class="tabs-group">
  <mat-tab *ngFor="let section of menuSections" [label]="section.section_name">
    <p class="section-desc">{{ section.description }}</p>
    <div class="items-container">
      <div *ngFor="let item of section.menu_items" class="menu-item-container">
        <div class="image-container">
          <img [src]="item.image" />
        </div>

        <div class="content-container flex-grow-1">
          <h3>{{ item.name }}</h3>
          <span class="desc" *ngIf="item.description">{{
            item.description
          }}</span>
          <span class="price">{{ item.price | currency }}</span>
          <app-cart-counter [item]="item"></app-cart-counter>
          <span *ngIf="cartProducts[item.id]" class="mt-1 error"
            >{{ cartProducts[item.id].quantity }}x in cart</span
          >
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
