<mat-tab-group *ngIf="menuSections" class="tabs-group">
  <mat-tab *ngFor="let section of menuSections" [label]="section.section_name">
    <p class="section-desc">{{ section.description }}</p>
    <div class="items-container">
      <div *ngFor="let item of section.menu_items" class="menu-item-container">
        <div class="image-container">
          <img [src]="item.image" />
        </div>

        <div class="content-container flex-grow-1">
          <h3>{{ item.name }}</h3>
          <span class="desc" *ngIf="item.description">{{
            item.description
          }}</span>
          <span class="price">{{ item.price | currency }}</span>
          <div class="d-flex justify-content-between flex-wrap cart-container">
            <div class="d-flex align-items-center counter-container">
              <app-button class="count-btn">+</app-button>
              <span>1</span>
              <app-button class="count-btn">-</app-button>
            </div>

            <app-button>Add to Cart</app-button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
